#root {
  display: flex;
  justify-content: center;
  min-width: 600px;
}

/* CLASS App ALSO INCLUDES ELEMENTS IN THE FinalView */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  display: flex;
  flex-direction: column;
  width: 800px;
  align-items: center;
  padding: 16px;
}

#container > button {
  margin: 24px;
}

.section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 600px;
  border-bottom: 2px solid black;
}

.oneLine {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.inputSectionHeader {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.inputArea {
  display: flex;
  gap: 10px;
}

.inputArea > input {
  width: 400px;
  margin-left: auto;  
}

textarea {
  width: 400px;
  margin-left: auto;
  
}

.outputSection {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.sectionHeader {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 8px;
  margin-bottom: 24px;
  text-decoration: underline;
}

.pushRight {
  margin-left: auto;
}

ul {
  list-style: none;
}

#finalView {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  border: 1px solid black;
}

#generalOutput {
  text-align: center;
}

.place {
  font-size: 18px;
  font-weight: bold;
}

#skillsOutput {
  margin-top: 16px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.eduList {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.buttons button {
  margin: 20px;
}